{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block main %}
<div>
    <a href="{{ path('card_deck_init') }}">Skapa ny kortlek</a>
    <a href="{{ path('card_deck') }}">Sortera kortlek</a>
    <a href="{{ path('card_deck_shuffled') }}">Blanda kortlek</a>
    <a href="{{ path('card_deck_draw') }}">Dra ett kort</a>
</div>
<div>
    <h1>Card game </h1>
    <p>Struktur på klasserna:</p>
    <p>Klasser:</p>
    <p>UML:</p>
</div>

{% endblock %}