{% extends "base.html.twig" %}

{% block title %}Game startsida
{% endblock %}

{% block main %}
<h2>Game startsida</h2>

<a href="{{ path('game_doc') }}">Dokumentation</a>
<a href="{{ path('game_init') }}">Starta spel</a>

{% endblock %}
