{% extends 'base.html.twig' %}

{% block title %}Add book{% endblock %}

{% block main %}

<div class="add-book">
    <h1>Lägg till ny bok</h1>

    <form action="{{ path('book_create') }}" method="post">
        <div>
            <label for="title">Titel:</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="author">Författare:</label>
            <input type="text" id="author" name="author">
        </div>
        <div>
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn">
        </div>
        <div>
            <label for="image">Bildlänk (url):</label>
            <input type="text" id="image" name="image">
        </div>
        <div class="submit-row">
            <a href="{{ path('library') }}" class="cancel-button">Avbryt</a>
            <button type="submit">Lägg till bok</button>
        </div>
    </form>



</div>
{% endblock %}
