* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: rgb(232 234 235 / 30%)
}

header, main {
    flex: 0 0 auto;
}

main {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem;
    min-width: 700px;
}


@media (max-width: 700px) {
    main {
        min-width: auto;
    }
}

