.card {
    background-color: #fff;
    border: 1px solid #000;
    min-width: 40px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    justify-content: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Hearts,
.Diamonds {
    color: red;
}

.cardrow {
    display: flex;
}

button,
button[type="submit"],
input[type="submit"],
a.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #6E978D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

button:hover,
button[type="submit"]:hover,
input[type="submit"]:hover,
a.button:hover {
    background-color: #80b2a6;
}

.deckContainer {
    display: flex;
    flex-direction: column;

    .cardAside {
        height: 50px;
        margin-top: 30px;
    }

    form {
        border: 1px solid #999;
        margin-top: 0.5rem;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #333;
}

.cardsLeft {
    margin-top: 1rem;
    font-weight: bold;
}

form {
    max-width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
        margin-right: 10px;
    }

    input[type="number"] {
        width: 50px;
    }
}

label {
    width: 110px;
    margin-bottom: 8px;
}

input[type="number"] {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.uml {
    margin-top: 1rem;
    border-top: 1px solid #999;
    padding-top: 1rem;

    ul {
        list-style-type: square;
        margin: 1rem 0;
    }

    img {
        margin: 1rem 0;
    }

    code {
        font-size: 1rem;
        font-weight: bold;
        background-color: #fff;
    }
}

