
/* Stilar för sidfoten */
footer {
    flex: 0 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    a {
        color: #fff;
    }

    img {
        width: 25px;
        height: 25px;
    }
}
