
/* game */

.pseudo {
    background-color: #f3ede5;
    padding: 0.5rem;
}

.game-doc {
    h2 {
        margin-top: 2rem;
    }
}


.game {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .player {
        background-color: #f3eedc;
        border: 1px solid #333;
        border-radius: 5px;
        padding: 1rem;
        min-height: 160px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .active {
        border: 3px solid #333;
        /* background-color: antiquewhite; */
    }

    .winner {
        border: 4px solid #57c757;
    }

    .button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .result {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .hidden {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

}

