.site-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    text-align: center;
    height: 150px;
    background-size: cover;
    align-items: center;
    border-bottom: 2px solid #333;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    img {
        width: 80px;
    }
}


.site-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, rgb(6 35 37 / 69%), rgba(0, 121, 123, 0.5), rgb(157 119 49 / 63%));
}

.site-title {
    font-size: 2rem;
    color: #fff;
    z-index: 2;
    font-weight: bold;
}




@media screen and (max-width: 600px) {
    .site-header {
      flex-direction: column;
      height: auto;
    }
  }