/* project */

body.proj {

    background-color: rgb(208 234 235);
    font-family: 'Courier New', Courier, monospace;

    main {
        max-width: 100%;
    }

    .about {
        max-width: 600px;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .about p {
        margin-bottom: 0.5rem;
    }

    .player-name {
        font-size: 1rem;
    }

    .game-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .game-container {
        background-color: #fff;
        border: 1px solid #333;
        display: flex;
        flex-direction: row;
    }

    .card-container {
        width: 200px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .square {
        width: 450px;
    }


    form {
        background-color: transparent;
        max-width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    button.cell {
        background-color: transparent;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    button.cell:hover {
        background-color: transparent;
    }

    button.cell:disabled {
        cursor: auto;
    }

    .card {
        width: 50px;
        height: 70px;
        font-size: 1.5rem;
    }


    .currentcard {
        width: 60px;
        height: 100px;
        font-size: 2rem;
    }
}



table.game-board  {
    background-color: white;
    border-collapse: collapse;

    td {
        border: 1px solid #333;
        background-color:  #49853a;
        min-width: 80px;
        height: 100px;
        text-align: center;
    }

    td:hover {
        background-color:  #609b51;
    }

    td.score {
        background-color: #fff;
        border: none;
        font-weight: bold;
    }

    .total {
        font-size: 0.9rem;
        font-weight: bold;
        color: #333;
        text-align: center;
        width: 100%;
        background-color: #e3d9cc;
    }

    tr:nth-child(6) td{
        height: 50px;
    }

    td:nth-child(6) {
        text-align: left;
        padding-left: 0.6rem;
    }
}



.proj-site-header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    text-align: center;
    height: 150px;
    align-items: center;
    border-bottom: 22px solid #fff;
    background: orange;
}

.proj-site-footer {
    flex: 0 0 auto;
    background-color: #e79898;
    color: #333;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 20px solid #fff;

    a {
        color: #333;
    }

    img {
        width: 25px;
    }
}


form.game-start {
    background: #ffffff;
    padding: 20px;
    max-width: 400px;
    width: 400px;
    margin: 0 auto;

    h1 {
        margin-bottom: 1rem;
    }

    div {
        margin-bottom: 15px;
    }



    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
        width: 100%;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }


}

