/* metrics */

.metrics {

    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        background-color: #f5b94a;
        padding: 0.2rem;
        letter-spacing: 1pt;
        border-radius: 30px;
        text-align: center;
    }

    h3 {
        color: #9d0909;
    }

    ul {
        list-style-type: none;
    }
    li {
        margin-top: 0.5rem;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
        color: #4f7677;
        margin: 0.3rem;
    }
}