{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block main %}
<h1>Api </h1>
<div class="content">
    <ul class="linkstyle">
        <li><a href="{{ path('quote') }}">/api/quote</a></li>
    </ul>
</div>

{% endblock %}