{% extends "base.html.twig" %}

{% block title %}Om mig{% endblock %}

{% block main %}
<h1>Om mig</h1>
<div class="content col2">
    <div>Sofie heter jag och bor i Norrköping.
    Till vardags arbetar jag med flyginformation och geodata/GIS, ett roligt område som kräver allt mer digitala lösningar och webbtjänster
    för att möta användarnas önskemål och de krav som ställs på denna typ av information.
    Det passar därför perfekt att läsa detta kurspaket från BTH för att lära mer om webbteknologier och hänga med i utvecklingen.
    När jag inte jobbar eller pluggar springer jag helst i skog och berg med karta och kompass.
    </div>
    <img src="{{ asset('img/me.png') }}" alt="Jag" title="Jag">


</div>

{% endblock %}