{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block main %}
<h1>Rapport</h1>
<div class="content col2 aside">
    <div>
    <article id="kmom01">
        <h2>Kursmoment 1 - Bygg en me-sida</h2>
        <div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


        </div>
    </article>


    <article id="kmom02">
        <h2>Kursmoment 2 - </h2>
        <div>
            Innehåll kommer...
        </div>
    </article>


    <article id="kmom03">
        <h2>Kursmoment 3 - </h2>
        <div>
            Innehåll kommer...
        </div>
    </article>
    </div>
    <div>
        <ul>
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
        </ul>
    </div>
</div>

{% endblock %}