{% extends "project/projbase.html.twig" %}

{% block title %}Projekt - Om{% endblock %}

{% block main %}
<h1>Om projektet</h1>
<div class="about">
<p>Jag har valt att i projektet utveckla patiensen <b>Poker Square</b>. Det kändes som ett bra alternativ då jag delvis kan bygga vidare på de klasser
som tagits fram under kursens gång, samtidigt som det för mig som inte är så insatt i poker känns lättare att förstå och implementera reglerna i en patiens.
</p>
<p>
    Spelet är ett klassiskt Poker Square, där spelaren på startsidan kan välja om amerikansk eller brittisk poängberäkning ska användas. Det går ej att
    se båda samtidigt. </p><p>Spelaren börjar med att dra ett kort, och klickar sen i spelplanen för att placera på valfri plats. Ett nytt kort dras
    sen automatiskt från kortleken och spelaren fortsätter att placera ut korten till dess att alla rutor är fyllda.
    Allt eftersom en rad eller kolumn blir fylld så beräknas och visas poängen för raden/kolumnen. Total poäng kan ses i nedre högra hörnet av spelplanen.

    Då spelet är slut kan användaren välja att start ett nytt spel.

</p>

</div>

{% endblock %}