{% extends "project/projbase.html.twig" %}

{% block title %}Projekt - Start{% endblock %}

{% block main %}
<h1>Poker Squares</h1>

<form method="POST" action="{{ path('start_game') }}">
    <div>
        <label for="playerName">Namn på spelare:</label>
        <input type="text" id="playerName" name="playerName" required>
    </div>
    <div>
        <label for="scoring">Poängberäkning:</label>
        <select id="scoring" name="scoring" required>
            <option value="american">Amerikansk</option>
            <option value="british">Brittisk</option>
        </select>
    </div>
    <div>
        <button type="submit">Börja spela</button>
    </div>
</form>


{% endblock %}