{% extends "project/projbase.html.twig" %}

{% block title %}Projekt - Start{% endblock %}

{% block main %}
<h1>Projekt</h1>
<a href="{{ path('start_game') }}">Starta spel</a>
<div>

</div>

{% endblock %}